.movies {
    &-container {
        padding: 24px;
        max-width: 1080px;
        margin: 0 auto;
        padding-top: 72px;
    }

    &-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 16px;
    }
}

.movie {
    &-title {
        font-weight: 500;
        padding-bottom: 16px;
    }

    &-card {
        background: var(--mat-sys-primary-container);
        color: var(--mat-sys-on-primary-container);

        :hover {
            cursor: pointer;
        }
    }

    &-poster {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 4px;
    }

    &-rating {
        margin-top: 12px;
        font-weight: bold;
        color: #f39c12;
    }

}